@font-face {
    font-family:New Amsterdam;
    src: url('../fonts/NewAmsterdam-Regular.ttf');
}
* {
    font-size:12pt ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: Verdana, sans-serif;

}

#interface {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
}

#interface .cabecalho {
    display: block;
    width: 70%;
    margin: 0 auto 2rem auto;

}

#interface .cabecalho h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}


#interface table {
    margin: 0 auto;
}

#interface table button {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 0.5;
}

#interface table button#bt-acce{
    font-size: .8rem;
    font-weight: bold;
    color: #7e0a0a;
}

#interface table #bt-plus,
#interface table #bt-equal {
    height: 102px;

}

#painel {
    text-align: end;
}
